<ion-header>
    <ion-toolbar color="primary">
        <app-menu-toggle
            slot="start"
            menu="main-menu"
        ></app-menu-toggle>
        <ion-title>Venda List</ion-title>
        <app-logout-button
            slot="end"
            menu="main-menu"
        ></app-logout-button>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-list *ngIf="(vendas$ | async) as vendas">
        <ng-container *ngIf="vendas.length > 0; else semVendas">
            <app-venda-item *ngFor="let venda of vendas" [venda]="venda" (delete)="onDelete($event)" (update)="onUpdate($event)"></app-venda-item>
        </ng-container>
        <ng-template #semVendas>
            <ion-item lines="none">Sem vendas no momento.</ion-item>
        </ng-template>
    </ion-list>

    <ion-fab
        vertical="bottom"
        horizontal="end"
        slot="fixed"
    >
        <ion-fab-button
            routerLink="/venda/create"
            routerDirection="forward"
        >
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>
