<ion-header>
    <ion-toolbar color="primary">
        <app-menu-toggle
            slot="start"
            menu="main-menu"
        ></app-menu-toggle>
        <ion-title>Venda List</ion-title>
        <app-logout-button
            slot="end"
            menu="main-menu"
        ></app-logout-button>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-list></ion-list>

    <ion-fab
        vertical="bottom"
        horizontal="end"
        slot="fixed"
    >
        <ion-fab-button
            routerLink="/venda"
            routerDirection="forward"
        >
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>
